*, *::after, *::before {
    transition: all .5s linear;
}

#slider img {
    margin: .5em;
}

.alert-hide {
    opacity: 0;
    visibility: hidden;
}

.alert-show {
    opacity: 1;
    visibility: visible;
}